html {
  height: 100%;
  width: 100%;
}

#game {
  height: 708px;
  width: 1203px;
  border: 3px outset black;
  margin: auto;
  position: relative;
  background-color: black;
}

#gamebg {
  height: 708px;
  width: 1203px;
  background-color: black;
  z-index: 1;
  position: absolute;
}

.sprite img {
  z-index: 10;
  position: absolute;
  bottom: 0;
  height: 80%;
}

#spriteimg {
  left: 50%;
  transform: translateX(-50%);
}

#leftsprite {
  left: 50px;
}

#rightsprite {
  right: 50px;
}

.textbox {
  border: 3px double black;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  height: 468px;
  width: 1003px;
  background: rgba(0,0,0,40%);
  color: white;
  font-family: 'Inconsolata';
  font-size: 20pt;
  padding: 50px;
  z-index: 90;
  position: absolute;
  display: flex;
	align-items: flex-end;
  text-shadow: 1px 1px 0 black;
  vertical-align: top;
}

#texty {
  height: 100%;
  position: relative;
  top:-1.5ex;
}

#logo {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 0;
}

.buttonsrow {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  z-index: 100;
  justify-content: center;
}

.button {
  height: 60px;
  width: 367px;
  border: 3px double hotpink;
  border-radius: 5%;
  background-color: pink;
  opacity: 90%;
  z-index: 91;
  text-shadow: 1px 1px 5px white;
  font-family: 'Inconsolata';
  text-align: center;
  font-size: 18pt;
  position: relative;
}

.button:hover {
  border: 3px double gold;
  color: white;
}

#skip {
  position: absolute;
  height: 30px;
  width: 60px;
  z-index: 95;
  opacity: 80%;
}

#destiny {
  text-shadow: 1px 1px 0 pink;
}

.elementToFadeIn {
    animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
 0% { opacity: 0; }
 100% { opacity: 1; } 
}

.elementToFadeOut {
    animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
 0% { opacity: 1; }
 100% { opacity: 0; } 
}

.elementToFadeInOut {
    animation: fadeInOut 1s linear forwards;
}

@keyframes fadeInOut {
 0% { opacity: 1; }
 50% { opacity: 0; } 
 100% { opacity: 1; } 
}

#debug {
  border: 1px solid black;
  height: 20px;
  width: 50px;
  padding: 2px;
  text-align: center;
}